@page "/tarefas/criar"

@rendermode InteractiveServer

@inject ApplicationDbContext _context
@inject NavigationManager nav


<PageTitle >Criar Tarefa</PageTitle>

<a href="/atualizaferiados">
    <img src="feriado.png" alt="feriado" width="50px" height="50px" />
</a>
<h1>Criar Tarefa</h1>

<EditForm Model="@Model" OnValidSubmit="@SalvarTarefa" OnInvalidSubmit="@Errada">
    <DataAnnotationsValidator />
    <ValidationSummary />

   <FormTarefa Model="@Model" Pessoas="@Pessoas" />


    <button type="submit" class="btn btn-primary">Criar</button>
    <a href="/tarefas">Cancelar</a>
    
</EditForm>



@code {
    public Tarefa Model { get; set; } = new();

    public List<Pessoa> Pessoas{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Pessoas = await _context.Pessoas.AsNoTracking().OrderBy(x => x.Nome).ToListAsync();
    }

    private async Task SalvarTarefa()
    {
        try
        {
            await _context.Tarefas.AddAsync(Model);
            await _context.SaveChangesAsync();
            nav.NavigateTo("/tarefas");
        }
        catch{}


    }

    void Errada(){}

}
